{% extends "site/base.html" %}
{% block content %}
  <article class="installment-page">
    <header class="installment-hero">
      <h1>Рассрочка</h1>
      <img src="{{ url_for('static', filename='installment/rassrocha-na-ofisnie-kresla.png') }}" alt="Купить офисные кресла в рассрочку в Минске" title="Рассрочка на кресла" width="640" height="238">
    </header>

    <div class="installment-intro">
      <p>Наш интернет-магазин&nbsp;clerk.by постоянно заботится о своих клиентах, расширяя не только ассортимент кресел, но и условия продажи. Очередным нововведением магазина стала покупка офисных кресел и стульев в рассрочку. Обращаем Ваше внимание, что рассрочка не распространяется на акционные товары, уцененные товары и товары со скидкой. Такого рода товары можно приобрести в рассрочку за полную стоимость.</p>
      <p>Мы рады сообщить вам, что наш магазин заключил договора с банками о предоставлении беспроцентной рассрочки. &nbsp;</p>
    </div>

    <section class="installment-option">
      <h2>ВТБ банк карта «Черепаха»</h2>
      <img src="{{ url_for('static', filename='installment/rassrocha-karta-cherepaha.jpg') }}" alt="Купить кресло в рассрочку по карте черепаха" title="ВТБ банк карта «Черепаха»" width="640" height="238">
      <p>Именно этой картой можно расплатиться за приглянувшуюся мебель на сайте&nbsp;clerk.by. Но основным преимуществом является то, что размер единовременной выплаты заемщик определяет каждый месяц самостоятельно. Тут важно соблюдать два условия:</p>
      <p>- платеж: не менее 10% от суммы займа.<br>- Вся сумма должна быть выплачена за 8 месяцев.</p>
      <p>Плюсом данной системы является отсутствие поручителей при оформлении.&nbsp;&nbsp;Для получения карты следует входить в возрастную категорию 18-62&nbsp;лет и предоставить паспорт РБ.</p>
    </section>

    <section class="installment-option">
      <h2><a href="{{ url_for('site.page_halva') }}" title="Кресло в рассрочку по халве">МТБанк карта «Халва»</a></h2>
      <img src="{{ url_for('static', filename='installment/halva-banner-rassrochka.jpg') }}" alt="" width="640" height="358">
      <p>Самым распространённым предложением рассрочки является оформление карт «Халва» MIX и MAX от МТ Банка. Клиенты могут растянуть выплаты за мебель на 2 месяца при расчёте картой "Халва" MIX, а при расчете картой "Халва" MAX банк увеличивает вам рассрочку ещё на 2 месяца<span>. Оформить карты "Халва" можно в любом отделении "МТБанка".<br></span></p>
    </section>

    <section class="installment-option">
      <h2>БПС «Сбербанк» карта&nbsp;Fun</h2>
      <img src="{{ url_for('static', filename='installment/rassrocha-karta-sun-minsk.png') }}" alt="Купить кресло в рассрочку по карте FUN" title="БПС «Сбербанк» карта Fun" width="640" height="252">
      <p>Пользователям карты&nbsp;Fun Сбербанка также доступна рассрочка на сайте&nbsp;clerk.by. Эта карта позволяет получить займ на офисную мебель сроком до 3-х месяцев.&nbsp;</p>
      <p>Для оформления карты новым клиентам необходимо обратиться в офис <span>БПС Сбербанка,&nbsp;</span>со следующим набором документов:</p>
      <p>- Документ, удостоверяющий личность;<br>- Справка с места работы (постоянный доход на протяжении 3-х месяцев);<br>- Военный билет для мужчин в возрасте 18-27 лет .</p>
      <p>Займы предоставляются практически без процентов (0,000001% за весь срок).</p>
    </section>

    <section class="installment-option">
      <h2>Банк Дабрабыт "СМАРТ КАРТА" ВРЕМЕННО ПРИОСТАНОВЛЕНО!!!</h2>
      <img src="{{ url_for('static', filename='installment/smart.png') }}" alt="Смарт карта" title="Смарт карта" width="640" height="404">
      <p>Эту карту ещё называют "Умная карта", так ка она позволяет не только приобретать товары в рассрочку, а также снимать наличные денежные средства и проводить безналичные платежи. В нашем интернет-магазине вы можете приобрести товары в рассрочку на 4 месяца по СМАРТ КАРТЕ без комиссий и переплат.</p>
    </section>

    <section class="installment-option installment-option--text">
      <h2>Банк ВТБ – Рассрочка 3 месяца.</h2>
      <p>1.&nbsp;&nbsp;Обращаетесь в наш магазин (лично, по телефону, по эл.почте)и оформляете заказ. Для оформления банком документов от Вас нужны фотографии паспорта&nbsp;31 стр, 33 стр + страница с пропиской.</p>
      <p>2.&nbsp;&nbsp;Мы отправляем Ваши данные в Банк для рассмотрения.</p>
      <p>3.&nbsp;&nbsp;Банк рассматривает Вашу заявку и связывается с Вами для оформления документов. Время рассмотрения до 1 часа. &nbsp;Оформление договора от 1-го до 3-х дней.</p>
      <p>4.&nbsp;&nbsp;После оформления документов с банком, Вы приобретаете у нас кресло и потом погашаете задолженность банку равными частями.</p>
    </section>

    <section class="installment-option">
      <h2>ОАО "Технобанк"- рассрочка 3 или 6 месяцев. ВРЕМЕННО ПРИОСТАНОВЛЕНА!!!</h2>
      <img src="{{ url_for('static', filename='installment/tehnobank.png') }}" alt="Технобанк" title="Технобанк рассрочка" width="640" height="213">
      <p>Выбрав кресло, вы обращаетесь в наш магазин с просьбой получить рассрочку. Наш интернет-магазин выставляет Вам счет-фактуру. Рассрочку можно оформить 3-мя способами:</p>
      <p>1. Вы оформляете рассрочку дистанционно, без посещения банка через мобильное приложение <strong>Tehno Mobile.</strong> Для этого необходимо устройство с доступом в интернет и камерой. Вы скачиваете приложение-регистрируетесь-заполняете заявку на рассрочку-подписываете договор в приложении-приобретаете кресло.</p>
      <p>2. Вы получаете в нашем магазине счет, с ним посещаете любое отделение ОАО "Технобанк" и в случае положительного решения, оформляете договор с банком. После оформления договора получаете кресло.</p>
      <p>3. Оформить заявление на рассрочку можно позвонить по телефону контакт-центра 8 017 388 57 57 или отправить скан/копию/фото счет-фактуры на эл. почту контакт центра contact-centre@tb.by. Заявка будет запоняться с Ваших слов. При положительном решении банк пригласит Вас в ближайшее отделение для заключения договора.</p>
      <p><span class="underlined">Перечень документов для предоставления рассрочки:</span></p>
      <p>1. Паспорт гражданина Республики Беларусь или вид на жительство в Республике Беларусь.</p>
      <p>2. Счет-фактура на выбранный Вами товар от нашего интернет-магазина.</p>
      <p><span class="underlined">Требования к Кредитополучателю:</span></p>
      <p>1. Возраст 21-65 лет</p>
      <p>2. Стаж работы на момент оформления не менее 3 месяцев.</p>
      <p>3. Рассрочка не предоставляется индивидуальным предпринимателям.</p>
    </section>
  </article>
{% endblock %}
